
h1{

color: green;

}
body{

    background-color: #F1ECEC;
}
#main{

    border: 5px solid white;
     background-color:  white;
    border-width: auto;
    margin-right: 15%;
    margin-left: 15%;
  

}


.bold{

    font-weight: bold;
    font-size: 20px;
}
.bl{

width: 95%;
background-color: #292727;
color: white;
padding-top:2%;
padding-bottom: 2%;
padding-left: 2%;

font-size: 18px;
font-weight: bold;

}
#De{

font-weight: bold;

}
table{

    border-collapse: collapse;
    width: 68%;
}


tr:nth-child(odd) {
    background-color: #f2f2f2}


th{
    padding-right: 63%;
    background-color:gray;
    color: white;
}
#down{
 border: 1px solid white;

-webkit-transform: rotate(-180deg); 
font-size: 40px;
background-color: white;
color: gray;
padding-top: 0;

}
#up{
    
    border: 1px solid white;
    font-size: 40px;
    background-color: white;
    color: gray;
    padding-bottom: 0;
}

#counter{

border: 1px solid white;
margin-left: 5%;

}